@model CreatePasswordVM

@{
	Layout = null;
}

@if (TempData["ErrorMessage"] != null)
{
	<h3 style="color:orangered;"><i>@TempData["ErrorMessage"]</i></h3>
}

<div class="container" id="container" style="height:400px; width:400px; min-height:auto;">
	<div class="form-container" style="height:400px; width:400px;">
		<form asp-controller="Login" asp-action="CreatePassword" method="post">
			<div asp-validation-summary="All" class="text-danger"></div>
			<input asp-for="Token" type="hidden"/>
			<input asp-for="userId" type="hidden"/>
			<label asp-for="Password">New Password</label>
			<input asp-for="Password" type="password" placeholder="Enter your new password" />
			<span asp-validation-for="Password" style="color:red;"></span>
			<label asp-for="ReTypePassword">New Password again</label>
			<input asp-for="ReTypePassword" type="password" placeholder="Confirm your new password" />
			<span asp-validation-for="ReTypePassword" style="color:red;"></span>
			<br />
			<button type="submit">Create Password</button>
		</form>
	</div>
</div>