@model AdvanceRequestVM

<body>
    <main>
        <!-- Main Page Section -->
        <div class="new-users">
            <h2>Advance Request</h2>
            <div class="user-list mt-4">
                <div class="user">
                    @if(ViewData["OutOfLimit"]!=null)
                    {
                        <div class="alert alert-danger">@ViewData["OutOfLimit"]</div>
                    }
                    <form asp-controller="Personnel" asp-action="AdvanceRequest" method="post" enctype="multipart/form-data">
                        <label for="advanceAmount">Advance Amount:</label>
                        <input asp-for="AdvanceAmount" type="number" id="advanceAmount" name="advanceAmount" required><br><br>

                        <label for="requestType">Request Type:</label>
                        @Html.DropDownListFor(model => model.RequestType.Id,
                        new SelectList(ViewBag.Requests, "Value", "Text"),
                        "-- Select Request Type --",
                        new {@class="form-control", id = "RequestDropdown"})<br><br>

                        <label for="description">Description:</label>
                        <textarea asp-for="Description" id="description" name="description" rows="4" cols="50"></textarea><br /><br />

                        <input type="submit" value="Submit Request">
                    </form>
                </div>
            </div>
        </div>
    </main>
</body>


